<ion-header>
  <ion-toolbar>
    <ion-title>edit-student-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder="{{student.name}}" [(ngModel)]="student.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="{{student.dob}}" [(ngModel)]="student.dob"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="{{student.pfp}}" [(ngModel)]="student.pfp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="{{student.phone_number}}" [(ngModel)]="student.phone_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="{{student.email}}" [(ngModel)]="student.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="6" [(ngModel)]="student.message" placeholder="{{student.message}}"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="full" (click)="updateStudent()">Update</ion-button>
</ion-content>
