<ion-header>
  <ion-toolbar>
    <!-- <ion-button slot="start" *ngIf="!hideMe" [routerLink]="'/home'">
     <ion-icon name="home-outline"></ion-icon>
    </ion-button> -->
    <ion-back-button slot = "start"></ion-back-button>
    <!-- <ion-button slot="start" *ngIf="hideMe" [routerLink]="'/welcome'">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button> -->

    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label color="primary" position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Password</ion-label>
    <ion-input type="text" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button class="submit-btn" expand="block" type="submit" (click)="signInWithEmail(user.email,user.password)">Sign In</ion-button>

  <ion-item>
    <ion-grid>
      <ion-button class="submit-btn" (click)="loginGoogle()">Google Sign In</ion-button>
      <ion-button class="submit-btn" (click)="loginFacebook()">Facebook Sign In</ion-button>
    </ion-grid>
  </ion-item>

</ion-content>
