<ion-header>
  <ion-toolbar>

    <ion-button slot = "start" [routerLink]="'/home'">
    <ion-icon name="home-outline"></ion-icon>
    </ion-button>

    <ion-title>student-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
    </ion-avatar>
    <ion-label>First Name Last Name</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Phone number: ###-###-####
      Email: email@email.com
      <ion-item>
        Name: {{name}}
      </ion-item>
    </ion-card-content>
  </ion-card>
 <ion-card>
   <ion-card-header>
     <ion-card-title>Favorites</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
   </ion-card-content>
 </ion-card>

  <ion-button  color="warning" [routerLink]="'/edit-student-profile'">Edit</ion-button>
</ion-content>
