<ion-header>
  <ion-toolbar>

    <ion-button slot = "start" [routerLink]="'/home'">
    <ion-icon name="home-outline"></ion-icon>
    </ion-button>

    <ion-title>Your Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{student.pfp}}">
    </ion-avatar>
    <ion-label>{{student.name}}</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Phone number: {{student.phone_number}}
      </ion-item>
      <ion-item>
        Email: {{student.email}}
      </ion-item>
      <ion-card-subtitle> Message </ion-card-subtitle>
      <ion-item>
        {{student.message}}
      </ion-item>

    </ion-card-content>
  </ion-card>
 <ion-card>
   <ion-card-header>
     <ion-card-title>Favorites</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
     <ion-item> hi </ion-item>
   </ion-card-content>
 </ion-card>

  <ion-button  color="warning" [routerLink]="'/edit-student-profile'">Edit</ion-button>
</ion-content>
