<ion-header>
  <ion-toolbar color = "medium">
    <ion-back-button slot = "start"></ion-back-button>
    <!-- <ion-button slot = "start" [routerLink]="'/home'">
    <ion-icon name="home-outline"></ion-icon>
    </ion-button> -->

    <ion-title color = "dark">Your Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "medium">
  <ion-item color = "medium">
    <ion-avatar slot="start">
      <img src="{{student.pfp}}">
    </ion-avatar>
    <ion-label color = "dark">{{student.name}}</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Phone number: {{student.phone_number}}
      </ion-item>
      <ion-item>
        Email: {{student.email}}
      </ion-item>
      <ion-card-subtitle> Message </ion-card-subtitle>
      <ion-item>
        {{student.message}}
      </ion-item>

    </ion-card-content>
  </ion-card>
 <ion-card *ngIf = "ownUser">
   <ion-card-header>
     <ion-card-title>Favorites</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <ion-item *ngFor = "let tutor of (tutors| async)">
       <ion-thumbnail slot="start">
        <ion-img [src] = "tutor.pfp"></ion-img>
      </ion-thumbnail>
      <ion-label>{{tutor.name}}</ion-label>
      <ion-button fill="outline" slot="end" [routerLink] = "['/tutor-profile/', tutor.id]">View</ion-button>
     </ion-item>
   </ion-card-content>
 </ion-card>

  <ion-button  color="warning" [routerLink]="'/edit-student-profile'" *ngIf = "ownUser">Edit</ion-button>
</ion-content>
