:root {
  --ion-background-color: #1187ba;
  --ion-background-color-rgb: 17,135,186;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;

  --ion-color-step-50: #1080b1;
  --ion-color-step-100: #0f7aa7;
  --ion-color-step-150: #0e739e;
  --ion-color-step-200: #0e6c95;
  --ion-color-step-250: #0d658c;
  --ion-color-step-300: #0c5f82;
  --ion-color-step-350: #0b5879;
  --ion-color-step-400: #0a5170;
  --ion-color-step-450: #094a66;
  --ion-color-step-500: #09445d;
  --ion-color-step-550: #083d54;
  --ion-color-step-600: #07364a;
  --ion-color-step-650: #062f41;
  --ion-color-step-700: #052938;
  --ion-color-step-750: #04222f;
  --ion-color-step-800: #031b25;
  --ion-color-step-850: #03141c;
  --ion-color-step-900: #020d13;
  --ion-color-step-950: #010709;
}
