<ion-header>
  <ion-toolbar>
    <ion-button slot = "start" [routerLink]="'/home'">
    <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-title>Your Account</ion-title>
    <ion-button slot = "end" (click) = "favorited()" *ngIf="!ownUser">
    <ion-icon name='{{starName}}'></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{tutor.pfp}}">
    </ion-avatar>
    <ion-label>{{tutor.name}}</ion-label>
  </ion-item>

  <ion-card id="tutor-profile">
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Phone number: {{tutor.phone_number}}
      </ion-item>
      <ion-item>
        Email: {{tutor.email}}
      </ion-item>
      <ion-card-subtitle> Message </ion-card-subtitle>
      <ion-item>
        {{tutor.message}}
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reviews</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item> Review #1 </ion-item>
      <ion-item> Review #2 </ion-item>
      <ion-item> Review #3 </ion-item>
      <ion-item> Review #4 </ion-item>
      <ion-item> Review #5 </ion-item>
      <ion-button [routerLink] = "'/view-reviews'"> See more </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button color="primary" [routerLink]="'/write-review/'+tutor.id">Write Review</ion-button>
  <ion-button  color="warning" [routerLink]="'/edit-tutor-profile/'+tutor.id" *ngIf = "ownUser">Edit</ion-button>
</ion-content>
