<ion-header>
  <ion-toolbar color = "medium">
    <ion-back-button slot = "start"></ion-back-button>
    <!-- <ion-button slot = "start" [routerLink]="'/home'">
    <ion-icon name="home-outline"></ion-icon>
    </ion-button> -->
    <ion-title color = "dark">Your Account</ion-title>
    <ion-button slot = "end" (click) = "favorited()" *ngIf="!ownUser">
    <ion-icon name='{{starName}}'></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content color = "medium">
  <ion-item color = "medium">
    <ion-avatar slot="start">
      <img src="{{tutor.pfp}}">
    </ion-avatar>
    <ion-label color = "dark">{{tutor.name}}</ion-label>
  </ion-item>

  <ion-card id="tutor-profile">
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Phone number: {{tutor.phone_number}}
      </ion-item>
      <ion-item>
        Email: {{tutor.email}}
      </ion-item>
      <ion-card-subtitle> Message </ion-card-subtitle>
      <ion-item>
        {{tutor.message}}
      </ion-item>

    </ion-card-content>
  </ion-card>


  <ion-item color = "medium" id="tutor-profile" *ngFor = "let review of (reviews | async)">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Review</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content id="tutor-profile">
        <ion-item>
          Rating: {{review.rating}}
        </ion-item>
        <ion-item>
          {{review.message}}
        </ion-item>
        <ion-button [routerLink] = "'/view-reviews/'+tutor.id"> See more </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Reviews</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor = "let review of (reviews | async)">
        <ion-label>{{review.rating}}</ion-label>
        <ion-label>{{review.message}}</ion-label>
      </ion-item>
      <ion-item> Review #1 </ion-item>
      <ion-item> Review #2 </ion-item>
      <ion-item> Review #3 </ion-item>
      <ion-item> Review #4 </ion-item>
      <ion-item> Review #5 </ion-item>
      <ion-button [routerLink] = "'/view-reviews/'+tutor.id"> See more </ion-button>
    </ion-card-content>
  </ion-card> -->

  <ion-button color="primary" [routerLink]="'/write-review/'+tutor.id">Write Review</ion-button>
  <ion-button  color="warning" [routerLink]="'/edit-tutor-profile/'+tutor.id" *ngIf = "ownUser">Edit</ion-button>
</ion-content>
