<ion-header color = "medium" [translucent]="true">
  <ion-toolbar color = "medium">
    <ion-button slot="start"(click) ="goToMyProfile()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
     <ion-title> Home</ion-title>


      <ion-button slot = "end"(click)="logout()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        Logout
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let student of (students | async)">
      <ion-thumbnail slot="start">
        <ion-img [src]="student.pfp"></ion-img>
      </ion-thumbnail>

      <ion-label>
        <h2>{{student.name}}</h2>
        <p>{{student.email}}</p>
      </ion-label>

      <ion-label>{{student.message}}</ion-label>

      <ion-button fill="outline" slot="end" [routerLink]="'/student-profile/'+student.id">View</ion-button>
    </ion-item>



  </ion-list>

</ion-content>
