<ion-header>
  <ion-toolbar color = "medium"> 
    <ion-back-button slot = "start"></ion-back-button>
    <ion-button slot = "start" [routerLink]="'/home'">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-title>Student List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "medium">
  <ion-list>

    <ion-item color = "medium" *ngFor="let student of (students | async)">
      <ion-thumbnail slot="start">
        <ion-img [src]="student.pfp"></ion-img>
      </ion-thumbnail>

      <ion-label>
        <h2>{{student.name}}</h2>
        <p>{{student.email}}</p>
      </ion-label>

      <ion-label>{{student.message}}</ion-label>

      <ion-button fill="outline" slot="end" [routerLink]="'/student-profile/'+student.id">View</ion-button>
    </ion-item>



  </ion-list>

</ion-content>
