<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <ion-buttons slot="end" *ngIf="!hideMe">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="'/student-list'">Student List</ion-button>
  <ion-button [routerLink]="'/tutor-list'">Tutor List</ion-button>
</ion-content>
