
<!-- <ion-header color = "medium" [translucent]="true">
  <ion-toolbar color = "medium">
    <ion-button slot="start"(click) ="goToMyProfile()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
     <ion-title> Home</ion-title>


      <ion-button slot = "end"(click)="logout()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        Logout
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content color = "medium" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color = "medium">
      <ion-title size="large" color = "dark">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="'/student-list'">Student List</ion-button>
  <ion-button [routerLink]="'/tutor-list'">Tutor List</ion-button>

</ion-content> -->
