<ion-header>
  <ion-toolbar>
    <!-- <ion-button slot="start" *ngIf="!hideMe" [routerLink]="'/home'">
     <ion-icon name="home-outline"></ion-icon>
    </ion-button> -->
    <ion-back-button slot = "start"></ion-back-button>
    <!-- <ion-button slot="start" *ngIf="hideMe" [routerLink]="'/welcome'">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button> -->

    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
      <ion-label color="primary" position="floating">email</ion-label>
      <ion-input placeholder = "email must be formatted conventionally" type="text" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">password</ion-label>
      <ion-input type="text" [(ngModel)]="user.password" required></ion-input>
    </ion-item>

    <ion-item>
    <ion-label>User Type</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="user.type" >
      <ion-select-option value="student">Student</ion-select-option>
      <ion-select-option value="tutor">Tutor</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [routerLink] = "['/new-account/', user.email, user.password, user.type]" (click)="signUpWithEmail(user.email,user.password)">Sign up</ion-button>
</ion-content>
